/build/
/dist/
/nbproject/private/
/src/resources/myspa_model/nbproject/private/
/src/resources/myspa_controller/nbproject/private/
/src/resources/myspa_controller/libraries/myspa_model/nbproject/private/
/src/resources/myspa_model/build/
/src/resources/myspa_model/dist/